/* Universal Styles */

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.1;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* Header section */

header {
  display: flex;
  background-color: rgb(233,78,27);
  width: 100%;
  align-items: center;
  height: 6rem;
  z-index: 10;
  position: fixed;
}

header .logo {
  padding-left: 10rem;
}

.logo img {
  height: 7.5rem;
  margin-left: 4.5rem;
}

nav ul {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
}

.desktop-menu {
  margin-left: 16rem;
}

.desktop-menu a {
  display: flex;
  color: rgb(255,255,255);
  padding-left: 1rem;
  margin: 6rem 3rem;
  align-items: center;
  letter-spacing: 1px;
  transition-property: color;
  transition-duration: 50ms;
}

.desktop-menu a:hover {
  color: #05c944;
}

.checkout-menu a {
  font-size: .875rem;
  padding-left: 1rem;
  margin: atuo 4rem;
  color: rgb(255,255,255);
  float: right;
  border-right: 1px solid #302a2a;
  padding-right: 1rem;
  transition-property: text-decoration;
  transition-duration: 50ms;
}

.checkout-menu a:hover {
  text-decoration: underline;
}

.checkout-menu {
  margin-left: 12rem;
}

/* Meals section */

#meals-section {
  max-width: 1440px;
  margin: auto;
  display: flex;
}

.monday-meals {
  background-color: rgb(245, 246, 247);
  width: 90rem;
  height: 30rem;
  display: flex;
  margin: auto;
  margin-top:10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3 3px rgba(0, 0, 0, 0.15);
}

.date {
  display: flex;
  padding-top: 2.8125rem;
  padding-left: 3rem;
  /* padding-left: 6.4375rem; */

}

.date h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  word-spacing: 1.5px;
}

.meals {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* width: 1440px; */
  /* padding-top: .05rem; */
  margin: auto;
}

.meals-pic img {
  display: block;
  width: 17.4375rem;
  height: 11.25rem;
  padding-right: 6.4375rem;
  padding-top: 5.1875rem;

}

.meals-pic p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  padding-top:1.6875rem;
  width: 17.4375rem;
  font-weight: 900;
  word-spacing: 1.5px;
  transition-property: text-decoration;
  transition-duration: 50ms;
}

.meals-pic p:hover {
  text-decoration: underline;
}

.meals-pic h4 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  /* padding-bottom: 1rem; */
  line-height: 3.5rem;
}

.meals-pic span {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 5.5rem;
}

.daily-meals {
  background-color: rgb(245, 246, 247);
  width: 90rem;
  height: 30rem;
  display: flex;
  margin: auto;
  margin-top:5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3 3px rgba(0, 0, 0, 0.15);
}

/* Footer section */

.footer {
  display: flex;
  margin: auto;
  background-color: rgb(233,78,27);
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.footer-logo {
  padding-left: 10rem;
  padding-bottom: 3.75rem;
  padding-top: 3rem;
}

.footer-logo img {
  height: 10rem;
  margin-left: 4.5rem;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-menu1 {
  padding-left: 8.125rem;
  padding-top: 5rem;
}

.footer-menu1 h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
  padding-bottom: 2.8125rem;
  letter-spacing: .5px;
}

.footer-menu1 a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(255,255,255);
  transition-property: text-decoration;
  transition-duration: 50ms;
}

.footer-menu1 a:hover {
  text-decoration: underline;
}

.footer-menu1 li {
  padding-top: 1.125rem;
}

.footer-menu2 {
  padding-left: 8.4375rem;
  padding-top: 5rem;
}

.footer-menu2 h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
  padding-bottom: 2.8125rem;
  letter-spacing: .5px;
}

.footer-menu2 a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(255,255,255);
  transition-property: text-decoration;
  transition-duration: 50ms;
}

.footer-menu2 a:hover {
  text-decoration: underline;
}

.footer-menu2 li {
  padding-top: 1.125rem;
}

.footer-menu3 {
  padding-left: 8.4375rem;
  padding-top: 5rem;
}

.footer-menu3 h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
  padding-bottom: 2.8125rem;

}

.footer-menu3 a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(255,255,255);
  letter-spacing: .5px;
  transition-property: text-decoration;
  transition-duration: 50ms;
}

.footer-menu3 a:hover {
  text-decoration: underline;
}

.footer-menu3 li {
  padding-top: 1.125rem;
}

.email {
  padding-left: 8.125rem;
  padding-top: 5rem;
}

.email h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
  letter-spacing: .25px;
}

.email-btn {
  padding: 1rem 1rem;
  background-color: #4a4a4a;
  border: 3px solid rgb(255, 255, 255);
  margin-top: 2rem;
}

.email-btn h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: .875rem;
  color: rgb(108,108,108);
  font-style: italic;
}

.social {
  padding-top: 3rem;
}

.social span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #000000;
}

.social-icons {
  padding-top: 1.5rem;
}

.social-icons li {
  padding-right: 2rem;
}

.bottom-row {
  display: flex;
  padding-top: 2rem;
  font-size: 0.8rem;
  /* border-top: 1px solid white; */
}

.copy {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #000000;
  margin: auto;
}
